/*弹窗确认取消按钮样式*/

.cancelBtn,
.cancelBtn:focus {
  width: 80px;
  height: 40px;
  border: none;
  background-color: #f8f8f8;
  color: #000000;
  margin: 0px 10px;
  border-radius: 4px;
  outline: none;
  text-align: center;
  padding: 0px;
}

.cancelBtn:hover {
  color: #000;
  background-color: #eaeaea;
  cursor: pointer;
}

.confirmBtn,
.confirmBtn:focus {
  width: 80px;
  height: 40px;
  border: none;
  background: #00968f;
  color: white;
  margin: 0px 10px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 0px;
}

.confirmBtn:hover {
  background: #008983;
  color: white;
  cursor: pointer;
}

/* 修改elm登录表单默认样式 */
.login .el-input__inner {
  width: 438px;
  height: 60px;
  font-size: 20px;
  background-color: #fff0;
  padding-left: 36px;
}
.login .el-button {
  width: 438px;
  height: 60px;
  font-size: 20px;
}
